<?xml version="1.0" encoding="UTF-8"?>
<widget id="ir.aeliux.webq" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WebQ</name>
  <description>A suite of simple web apps.</description>
  <author email="itsaeliux@gmail.com" href="https://github.com/Aeliux">Aeliux</author>
  <content src="index.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <preference name="FadeSplashScreen" value="false"/>
  <platform name="android">
    <icon src="assets/android/icon-ldpi.png" monochrome="assets/android/ldpi-monochrome.png" background="assets/android/ldpi-background.png" density="ldpi" foreground="assets/android/ldpi-foreground.png"/>
    <icon src="assets/android/icon-mdpi.png" monochrome="assets/android/mdpi-monochrome.png" background="assets/android/mdpi-background.png" density="mdpi" foreground="assets/android/mdpi-foreground.png"/>
    <icon src="assets/android/icon-hdpi.png" monochrome="assets/android/hdpi-monochrome.png" background="assets/android/hdpi-background.png" density="hdpi" foreground="assets/android/hdpi-foreground.png"/>
    <icon src="assets/android/icon-xhdpi.png" monochrome="assets/android/xhdpi-monochrome.png" background="assets/android/xhdpi-background.png" density="xhdpi" foreground="assets/android/xhdpi-foreground.png"/>
    <icon src="assets/android/icon-xxhdpi.png" monochrome="assets/android/xxhdpi-monochrome.png" background="assets/android/xxhdpi-background.png" density="xxhdpi" foreground="assets/android/xxhdpi-foreground.png"/>
    <icon src="assets/android/icon-xxxhdpi.png" monochrome="assets/android/xxxhdpi-monochrome.png" background="assets/android/xxxhdpi-background.png" density="xxxhdpi" foreground="assets/android/xxxhdpi-foreground.png"/>
  </platform>
</widget>